/* icons */
/* btn texts */
/* ALL */
* {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #579c87;
  display: flex;
}
header #logo {
  max-width: 40%;
  margin: 20px auto;
}

/* CONTENT */
#app-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}
#app-content .btn {
  background-color: #fff5fe;
  width: 45%;
  min-height: 32vh;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
#app-content .btn:hover {
  background-color: #fcdfdb;
}
#app-content .btn--green {
  background-color: #579c87;
  color: #fdcc46;
  font-family: "Archivo", sans-serif;
  padding: 7px 30px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  font-size: 20px;
}
#app-content .btn .fa-music {
  font-size: 35px;
  color: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
}
#app-content #btn-container {
  width: 100%;
}
#app-content .btn-block--1 {
  font-family: "Kaushan Script";
  color: black;
}
#app-content .btn-block--2 {
  font-family: "Signika";
  font-size: 14px;
  color: linear-gradient(90deg, #d8852e 0%, #ac6baf 50%, #905bfd 100%);
}
#app-content .btn-block--3 {
  font-family: "Dancing Script";
  color: linear-gradient(90deg, #2b58e6 0%, #1b91fa 100%);
}
#app-content .btn-block--4 {
  font-family: "Indie Flower";
  color: linear-gradient(90deg, #4c9f42 0%, #bfff7e 100%);
}
#app-content .btn-block--menu {
  font-size: 24px;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  background-color: #579c87;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer #left-block,
footer #right-block {
  color: #fdcc46;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  margin: 15px 10px;
}

/* menu1.html */
#page-content {
  display: flex;
  flex-direction: column;
}
#page-content .menu-title {
  margin: 0 auto;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#page-content #menu {
  background-color: #fcdfdb;
  width: 85%;
  margin: 10px auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Kaushan Script";
}
#page-content #menu .menu-title--in {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-content #menu .menu-title--in .fa-music {
  font-size: 50px;
  color: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
}

#prelude,
#point-orgue,
#mouvement-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#prelude .prelude-block,
#prelude .pointorgue-block,
#prelude .mouvementfinal-block,
#point-orgue .prelude-block,
#point-orgue .pointorgue-block,
#point-orgue .mouvementfinal-block,
#mouvement-final .prelude-block,
#mouvement-final .pointorgue-block,
#mouvement-final .mouvementfinal-block {
  display: flex;
  margin-top: 10px;
}
#prelude .left-block,
#point-orgue .left-block,
#mouvement-final .left-block {
  width: 85%;
  margin: 0 5px;
}
#prelude .right-block,
#point-orgue .right-block,
#mouvement-final .right-block {
  width: 10%;
}

/*# sourceMappingURL=styles.css.map */
