/* color */
/* icons */
/* btn texts */
/* menu1.html */
header {
  background-color: #579c87;
  display: flex;
}
header a {
  display: flex;
}
header a #logo {
  max-width: 40%;
  margin: 20px auto;
}

#page-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
#page-content .menu-title {
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px lightgray;
}
#page-content .menu-title--in {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-content .menu-title--in--bis {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#page-content .menu-title--in--bis .fa-music {
  font-size: 30px;
  margin-right: 5px;
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page-content .menu-title--in .fa-music {
  font-size: 50px;
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page-content #menu {
  background-color: #fcdfdb;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  padding: 0 30px;
}
@media screen and (max-width: 769px) {
  #page-content #menu {
    margin: 0 70px;
  }
}
@media screen and (max-width: 500px) {
  #page-content #menu {
    margin: 0 15px;
    padding: 0 15px;
    font-size: 12px;
  }
}

#prelude,
#point-orgue,
#mouvement-final {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
#prelude-title,
#point-orgue-title,
#mouvement-final-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu1-line.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#prelude-title::after,
#point-orgue-title::after,
#mouvement-final-title::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}
#prelude-title:hover::after,
#point-orgue-title:hover::after,
#mouvement-final-title:hover::after {
  width: 100%;
  transition: width 0.3s;
}
#prelude .prelude-block,
#prelude .pointorgue-block,
#prelude .mouvementfinal-block,
#point-orgue .prelude-block,
#point-orgue .pointorgue-block,
#point-orgue .mouvementfinal-block,
#mouvement-final .prelude-block,
#mouvement-final .pointorgue-block,
#mouvement-final .mouvementfinal-block {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
#prelude .left-block,
#point-orgue .left-block,
#mouvement-final .left-block {
  margin: 0 5px;
}
#prelude .right-block,
#point-orgue .right-block,
#mouvement-final .right-block {
  width: 10%;
}

/* menu2.html */
#page-content2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
#page-content2 .menu-title {
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px lightgray;
}
#page-content2 .menu-title--in {
  background: linear-gradient(90deg, #d8852e 0%, #ac6baf 50%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page-content2 #menu {
  background-color: #fff5fe;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Signika", Arial, Helvetica, sans-serif;
  padding: 0 30px;
}
@media screen and (max-width: 500px) {
  #page-content2 #menu {
    margin: 0 15px;
    padding: 0 15px;
    font-size: 12px;
  }
}
#page-content2 #menu .menu-title--in {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appetite,
#pleasure,
#delicacies {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
#appetite-title,
#pleasure-title,
#delicacies-title {
  text-align: center;
  min-width: 15%;
}
#appetite .appetite-block,
#appetite .pleasure-block,
#appetite .delicacies-block,
#pleasure .appetite-block,
#pleasure .pleasure-block,
#pleasure .delicacies-block,
#delicacies .appetite-block,
#delicacies .pleasure-block,
#delicacies .delicacies-block {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
#appetite .left-block,
#pleasure .left-block,
#delicacies .left-block {
  margin: 0 5px;
}
#appetite .right-block,
#pleasure .right-block,
#delicacies .right-block {
  width: 10%;
}

#appetite {
  color: #c67412;
}
#appetite-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu2-line1.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#pleasure {
  color: #a56799;
}
#pleasure-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu2-line2.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#delicacies {
  color: #6e4ccc;
}
#delicacies-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu2-line3.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* menu3.html */
#page-content3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
#page-content3 .menu-title {
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px lightgray;
}
#page-content3 .menu-title--in {
  background: linear-gradient(90deg, #2b58e6 0%, #1b91fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page-content3 #menu {
  background-color: #edefef;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  padding: 0 30px;
}
@media screen and (max-width: 500px) {
  #page-content3 #menu {
    margin: 0 15px;
    padding: 0 15px;
    font-size: 12px;
  }
}
#page-content3 #menu .menu-title--in {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tostart,
#tocontinue,
#tofinish {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
#tostart-title,
#tocontinue-title,
#tofinish-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu3-line.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#tostart .tostart-block,
#tostart .tocontinue-block,
#tostart .tofinish-block,
#tocontinue .tostart-block,
#tocontinue .tocontinue-block,
#tocontinue .tofinish-block,
#tofinish .tostart-block,
#tofinish .tocontinue-block,
#tofinish .tofinish-block {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
#tostart .left-block,
#tocontinue .left-block,
#tofinish .left-block {
  margin: 0 5px;
}
#tostart .right-block,
#tocontinue .right-block,
#tofinish .right-block {
  width: 10%;
}

/* menu4.html */
#page-content4 {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
#page-content4 .menu-title {
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px lightgray;
}
#page-content4 .menu-title--in {
  background: linear-gradient(90deg, #4c9f42 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page-content4 #menu {
  background-color: #fdfffd;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  font-family: "Indie Flower", Arial, Helvetica, sans-serif;
  padding: 0 30px;
}
@media screen and (max-width: 500px) {
  #page-content4 #menu {
    margin: 0 15px;
    padding: 0 15px;
    font-size: 12px;
  }
}
#page-content4 #menu .menu-title--in {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#esquisse,
#oeuvre,
#art {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
#esquisse-title,
#oeuvre-title,
#art-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/lines/menu4-line.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#esquisse .esquisse-block,
#esquisse .oeuvre-block,
#esquisse .art-block,
#oeuvre .esquisse-block,
#oeuvre .oeuvre-block,
#oeuvre .art-block,
#art .esquisse-block,
#art .oeuvre-block,
#art .art-block {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
#esquisse .left-block,
#oeuvre .left-block,
#art .left-block {
  margin: 0 5px;
}
#esquisse .right-block,
#oeuvre .right-block,
#art .right-block {
  width: 10%;
}

/* ALL */
* {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #579c87;
  display: flex;
}
header picture {
  display: flex;
  justify-content: center;
}
header picture #logo {
  max-width: 40%;
  margin: 20px auto;
}

/* CONTENT */
#app-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}
#app-content .btn {
  width: 45%;
  min-height: 32vh;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  transition: transform 450ms, background-color 300ms 150ms, color 300ms 150ms;
}
#app-content .btn:hover {
  transform: scale(1.1);
  color: white;
}
#app-content .btn--green {
  background-color: #579c87;
  color: #fdcc46;
  font-family: "Archivo", sans-serif;
  padding: 7px 30px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  font-size: 20px;
}
#app-content .btn--green .dot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
}
#app-content .btn--green .dot-container .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fdcc46;
}
#app-content .btn--green .dot-container .dot--1 {
  animation: flow 0.4s ease 0s infinite alternate;
}
#app-content .btn--green .dot-container .dot--2 {
  animation: flow 0.4s ease 0.2s infinite alternate;
}
#app-content .btn--green .dot-container .dot--3 {
  animation: flow 0.4s ease 0.4s infinite alternate;
}
@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.2;
    transform: scale(0.75);
  }
}
#app-content #btn-container {
  width: 100%;
}
#app-content .btn-block--1 {
  font-family: "Kaushan Script";
  background-color: #fcdfdb;
}
#app-content .btn-block--1 .fa-music {
  font-size: 35px;
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#app-content .btn-block--2 {
  font-family: "Signika";
  font-size: 14px;
  background: linear-gradient(90deg, #d8852e 0%, #ac6baf 50%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #fff5fe;
}
#app-content .btn-block--3 {
  font-family: "Dancing Script";
  background: linear-gradient(90deg, #2b58e6 0%, #1b91fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #edefef;
}
#app-content .btn-block--4 {
  font-family: "Indie Flower";
  background: linear-gradient(90deg, #4c9f42 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #fdfffd;
}
#app-content .btn-block--text {
  color: black;
}
#app-content .btn-block--menu {
  color: black;
  font-size: 24px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background-color: #579c87;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer #left-block,
footer #right-block {
  color: #fdcc46;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  margin: 15px 10px;
}
footer #left-block:hover,
footer #right-block:hover {
  animation: shake 0.3s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, 1px) rotate(2px);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}

/*# sourceMappingURL=styles.css.map */
