@import "Utils/variables";

/* ALL */
* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: $default-background-color;
    display: flex;

    #logo {
        max-width: 40%;
        margin: 20px auto;
    }
}

/* CONTENT */
#app-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;

    .btn {
        background-color: $buttons-color;
        width: 45%;
        min-height: 30vh;
        text-decoration: none;
        text-align: center;
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $buttons-color-hover;
        }

        &--green {
            background-color: $default-background-color;
            color: $default-font-color;
            font-family: 'Archivo', sans-serif;
            padding: 5px 10px;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
            width: fit-content;
            text-decoration: none;
            font-size: 25px;
        }
    }

    #btn-container {
        width: 100%;
    }
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    background-color: $default-background-color;
    display: flex;
    width: 100%;
    justify-content: space-between;

    #left-block,
    #right-block {
        color: $default-font-color;
        font-size: 20px;
        font-family: 'Archivo', sans-serif;
        text-decoration: none;
        margin: 15px 10px;
    }
}