@import "Utils/variables";

/* ALL */
* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: $default-background-color;
    display: flex;

    #logo {
        max-width: 40%;
        margin: 20px auto;
    }

}

/* CONTENT */
#app-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;

    .btn {
        background-color: $buttons-color;
        width: 45%;
        min-height: 32vh;
        text-decoration: none;
        text-align: center;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);


        &:hover {
            background-color: $buttons-color-hover;
        }

        &--green {
            background-color: $default-background-color;
            color: $default-font-color;
            font-family: 'Archivo', sans-serif;
            padding: 7px 30px;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
            width: fit-content;
            text-decoration: none;
            font-size: 20px;
        }
    }

    #btn-container {
        width: 100%;
    }

    .btn-block {
        &--1 {
            font-family: 'Kaushan Script';

            .fa-music {
                font-size: 35px;
                background: $btn-block--1-text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &--2 {
            font-family: 'Signika';
            font-size: 14px;
            background: $btn-block--2-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--3 {
            font-family: 'Dancing Script';
            background: $btn-block--3-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--4 {
            font-family: 'Indie Flower';
            background: $btn-block--4-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--text {
            color: black;
        }

        &--menu {
            color: black;
            font-size: 24px;
        }
    }
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    background-color: $default-background-color;
    display: flex;
    width: 100%;
    justify-content: space-between;

    #left-block,
    #right-block {
        color: $default-font-color;
        font-size: 20px;
        font-family: 'Archivo', sans-serif;
        text-decoration: none;
        margin: 15px 10px;
    }
}

/* menu1.html */
header {
    background-color: $default-background-color;
    display: flex;

    a {
        display: flex;

        #logo {
            max-width: 40%;
            margin: 20px auto;
        }
    }
}

#page-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    .menu-title {
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 2px lightgray;
    }

    #menu {
        background-color: rgb(252, 223, 219);
        max-width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        display: flex;
        flex-direction: column;
        font-family: 'Kaushan Script';
        padding: 0 30px;

        @media screen and (max-width: 500px) {
            margin: 0 15px;
            padding: 0 15px;
            font-size: 12px;
        }

        .menu-title--in {
            margin: 0 auto;
            margin-top: 30px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--bis {
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 18px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .fa-music {
                    font-size: 30px;
                    margin-right: 5px;
                    background: $btn-block--1-text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .fa-music {
                font-size: 50px;
                background: $btn-block--1-text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

#prelude,
#point-orgue,
#mouvement-final {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &-title {
        text-align: center;
        min-width: 15%;

    }

    .section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .title-lines {
            transform: scale(0.6, 0.6);
        }
    }

    .prelude-block,
    .pointorgue-block,
    .mouvementfinal-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}

/* menu2.html */