@mixin btn-block-styles($font-family, $background-gradient-color, $background-color) {
    font-family: $font-family, Arial, Helvetica, sans-serif;
    background: $background-gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: $background-color;
}

@mixin page-content-display($display-type, $direction, $padding-bottom) {
    display: $display-type;
    flex-direction: $direction;
    padding-bottom: $padding-bottom;
}

@mixin blocks-display($display-type, $direction, $padding) {
    display: $display-type;
    flex-direction: $direction;
    padding: $padding;
}


@mixin menu-styles($background-color, $width, $shadow, $display-type, $direction, $font-style, $padding) {
    background-color: $background-color;
    max-width: $width;
    box-shadow: $shadow;
    flex-direction: $direction;
    font-family: $font-style, Arial, Helvetica, sans-serif;
    padding: $padding;

    @media screen and (max-width: 769px) {
        margin: 0 70px;
    }

    @media screen and (max-width: 500px) {
        margin: 0 15px;
        padding: 0 15px;
        font-size: 12px;
    }
}

@mixin blocks-title($display-type, $direction, $align, $justify, $image-name, $repeat, $size, $position) {
    $url:"../images/lines/#{$image-name}.PNG";
    background-image: url($url);
    display: $display-type;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}