$default-background-color: #579c87;
$default-font-color: #fdcc46;
$buttons-color: #fff5fe;
$buttons-color-hover: #fcdfdb;

/* icons */
$btn-block--1-icon-gradient-color: linear-gradient(90deg, rgba(240, 74, 94, 1) 0%, rgba(247, 143, 106, 1) 100%);

/* btn texts */
$btn-block--2-text: linear-gradient(90deg, rgba(216, 133, 46, 1) 0%, rgba(172, 107, 175, 1) 50%, rgba(144, 91, 253, 1) 100%);