$default-background-color: #579c87;
$default-font-color: #fdcc46;
$buttons-color: #fff5fe;
$buttons-color-hover: #fcdfdb;

/* icons */
$btn-block--1-icon-color: rgb(240, 74, 94);
$btn-block--1-icon-gradient-color: linear-gradient(90deg, rgba(240, 74, 94, 1) 0%, rgba(247, 143, 106, 1) 100%);