/* menu4.html */
#page-content4 {
    @include page-content-display(flex, column, 100px);

    .menu-title {
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 2px lightgray;

        &--in {
            background: $btn-block--4-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0 auto;
            margin-top: 30px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #menu {
        @include menu-styles(rgb(253, 255, 253), 100%, 0px 0px 10px 0px rgba(0, 0, 0, 0.35), flex, column, 'Indie Flower', 0 30px);
    }
}

#esquisse,
#oeuvre,
#art {
    @include blocks-display(flex, column, 20px 0);

    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-image: url('../images/lines/menu4-line.PNG');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .esquisse-block,
    .oeuvre-block,
    .art-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}