/* menu3.html */
#page-content3 {
    @include page-content-display(flex, column, 100px);

    .menu-title {
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 2px lightgray;

        &--in {
            background: $btn-block--3-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0 auto;
            margin-top: 30px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #menu {
        @include menu-styles(rgb(237, 239, 239), 100%, 0px 0px 10px 0px rgba(0, 0, 0, 0.35), flex, column, 'Dancing Script', 0 30px);
    }
}

#tostart,
#tocontinue,
#tofinish {
    @include blocks-display(flex, column, 20px 0);

    &-title {
        @include blocks-title(flex, row, center, center, menu3-line, no-repeat, contain, center);
    }

    .tostart-block,
    .tocontinue-block,
    .tofinish-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}