/* menu3.html */
#page-content3 {
    @extend %page-content-display;

    .menu-title {
        @extend %menu-title-style;

        &--in {
            @include menu--in-styles($btn-block--3-text);
        }
    }

    #menu {
        @include menu-styles(rgb(237, 239, 239), 'Dancing Script');
    }
}

#tostart,
#tocontinue,
#tofinish {
    @extend %blocks-display;

    &-title {
        //@include blocks-title(menu3-line);
        @extend %title-screen-display;

        .underline-block {
            height: 2px;
            background-color: black;
            width: 0;
            transition: width 0.5s;
            display: block;
        }

        &:hover .underline-block {
            width: 100%;
        }
    }

    .tostart-block,
    .tocontinue-block,
    .tofinish-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        @extend %blocks-screen-display;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}