/* menu4.html */
#page-content4 {
    @include page-content-display(flex, column, 100px);

    .menu-title {
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 2px lightgray;

        &--in {
            @include menu--in-styles($btn-block--4-text);
        }
    }

    #menu {
        @include menu-styles(rgb(253, 255, 253), 100%, 0px 0px 10px 0px rgba(0, 0, 0, 0.35), flex, column, 'Indie Flower', 0 30px);
    }
}

#esquisse,
#oeuvre,
#art {
    @include blocks-display(flex, column, 20px 0);

    &-title {
        @include blocks-title(flex, row, center, center, menu4-line, no-repeat, contain, center);
    }

    .esquisse-block,
    .oeuvre-block,
    .art-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}