/* menu2.html */
#page-content2 {
    @extend %page-content-display;

    .menu-title {
        @extend %menu-title-style;

        &--in {
            @include menu--in-styles($btn-block--2-text);
        }
    }

    #menu {
        @include menu-styles(rgb(255, 245, 254), 'Signika');
    }
}

#appetite,
#pleasure,
#delicacies {
    @extend %blocks-display;

    &-title {
        text-align: center;
        min-width: 15%;
        @extend %title-desktop-display;
    }

    .appetite-block,
    .pleasure-block,
    .delicacies-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        @extend %blocks-desktop-display;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}

#appetite {
    color: rgb(198, 116, 18);

    &-title {
        @include blocks-title(menu2-line1);
    }
}

#pleasure {
    color: rgb(165, 103, 153);

    &-title {
        @include blocks-title(menu2-line2);
    }
}

#delicacies {
    color: rgb(110, 76, 204);

    &-title {
        @include blocks-title(menu2-line3);
    }
}