/* menu2.html */
#page-content2 {
    @extend %page-content-display;

    .menu-title {
        @extend %menu-title-style;

        &--in {
            @include menu--in-styles($btn-block--2-text);
        }
    }

    #menu {
        @include menu-styles(rgb(255, 245, 254), 'Signika');
    }
}

#appetite,
#pleasure,
#delicacies {
    @extend %blocks-display;

    &-title {
        @extend %title-screen-display;

        .underline-block {
            height: 2px;
            background-color: black;
            width: 0;
            transition: width 0.5s;
            display: block;
        }

        &:hover .underline-block {
            width: 100%;
        }
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

    }

    .title-lines {
        &-left1 {
            width: 25%;
            @include blocks-title-left(menu2-left-line1);
        }

        &-left2 {
            width: 25%;
            @include blocks-title-left(menu2-left-line2);
        }

        &-left3 {
            width: 25%;
            @include blocks-title-left(menu2-left-line3);
        }

        &-right1 {
            width: 25%;
            @include blocks-title-right(menu2-right-line1);
        }

        &-right2 {
            width: 25%;
            @include blocks-title-right(menu2-right-line2);
        }

        &-right3 {
            width: 25%;
            @include blocks-title-right(menu2-right-line3);
        }
    }

    .appetite-block,
    .pleasure-block,
    .delicacies-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        @extend %blocks-screen-display;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}

#appetite {
    color: rgb(198, 116, 18);

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

#pleasure {
    color: rgb(165, 103, 153);
}

#delicacies {
    color: rgb(110, 76, 204);
}