/* menu4.html */
#page-content4 {
    @include page-content-display;

    .menu-title {
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 2px lightgray;

        &--in {
            @include menu--in-styles($btn-block--4-text);
        }
    }

    #menu {
        @include menu-styles(rgb(253, 255, 253), 'Indie Flower');
    }
}

#esquisse,
#oeuvre,
#art {
    @include blocks-display;

    &-title {
        @include blocks-title(menu4-line);
    }

    .esquisse-block,
    .oeuvre-block,
    .art-block {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-block {
        margin: 0 5px;
    }

    .right-block {
        width: 10%;
    }
}